<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="menu" th:fragment="menu">
    <ul>
        <li><a href="#" th:href="@{/}">Home</a></li>
        <li><a href="#" th:href="@{/cadastrarUsuario}">Cadastro Usuário</a></li>
        <li><a href="#" th:href="@{/cadastrarTipoUsuario}">Cadastro Tipo Usuário</a></li>
        <li><a href="#" th:href="@{/contato}">Contato</a></li>
        <li><a href="#" th:href="@{/acessarChatBot}">Chatbot</a></li>
    </ul>
</nav>
</body>
</html>